*{
	margin: 0px;
	padding: 0px; 
}
#logo{
	width: 300px;
	height: 100px;
	margin: 0 auto;
	margin-top: 100px;
}
#back{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -99;
	background-image: url(../img/night.jpg);
	background-size: 2000px;
}
#search{
	width: 600px;
	height: 50px;
	background-color: red;
	margin: 0 auto;
	margin-top: 50px;
}
#search input{
	width: 498px;
	height: 48px;
	border: 1px solid rgb(53,174,247);
	outline: 0px;
	display: block;
	float: left;
}
#search button{
	width: 100px;
	height: 50px;
	background-color: rgb(53,174,247);
	border: 0px;
	outline: 0px;
	display: block;
	float: right;
	color: white;
}
#info{
	width: 1400px;
	height: 150px;
	margin: 0 auto;
	/* background-color: #ADFF2F; */
	margin-top: 50px;
	color: white;
}
#info li{
	width: 200px;
	height: 150px;
	/* background-color: #ADFF2F; */
	text-align: center;
	float: left;
	list-style: none;
}
#info .wea{
	font-size: 30px;
	margin:10px;
}
.wea,.tem{
	color: white;
	margin-bottom: 5px;
}